/*
 * Este es el CSS que va DESPUÉS de tu CSS del `sidebar`.
 */
 /* TIPOGRAFÍA */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
/* =========================
   CONTENIDO PRINCIPAL Y FORMULARIO
========================= */
body.main-tiendas {
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Asegura que no haya margen por defecto */
    background-color: #f4f4f4;
    color: #333; /* Color de texto general */
}

/* El `main-content` se desplaza para dejar espacio a la barra lateral */
.main-content {
    margin-left: 220px; /* Esta es la corrección clave */
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho */
}

h1 {
  font-weight: 600;
  text-align: center;
}